@import "componenetes/variables";
@import "componenetes/mixin";

section{
    background-color: $bg-colo;
    border: $border-std;
    width: 100%;
    height: 100vh;
   @include flex-std(row, nowrap, center, center);
   
    p{
     color: $font-color;
     @include space-std($margin-std)

    }
    &:hover{
background: $bg2-color;
p{
    color: $border-color;
}
    }
}
