@import url('https://fonts.googleapis.com/css?family=Lexend+Zetta|Shadows+Into+Light&display=swap');

*, ::before , ::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    box-sizing:border-box;
}
table{
    border-collapse: collapse;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border-color: black
}
.border-botoom{
    border-bottom: 1px solid black;
}
td{
    width: 20px;
    height: 10px;
}
tr td:first-child, tr td:nth-last-of-type(1){
    border-right: 1px solid black;
}
tr:hover{
    background-color:rgb(0,0,0,0,0.5);
    border: 1px solid red;
}